<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="users">

	<insert id="insert"	parameterType="usersDto">
		insert into member
		(userId, userPass, userName, userPhone, email, userAddr1, userAddr2, userAddr3, 
			regidate, birthday)
		value(#{userId}, #{userPass}, #{userName}, #{userPhone}, #{email}, #{userAddr1}, #{userAddr2}, #{userAddr3}, #{birthday})
	</insert>
</mapper>