<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="users">
	<insert id="insert" parameterType="UsersDto">
		insert into users
		(userId, userPwd, userName, userPhone, email, 
			userAddr1, userAddr2, userAddr3, birthday)
		values(#{userId},#{userPwd},#{userName},#{userPhone},#{email},
			#{userAddr1},#{userAddr2},#{userAddr3},#{birthday})
	</insert>
	
	<select id="isExist" parameterType="java.lang.String" resultType="String">
		select userId from users
		where userId=#{inputuserId}
	</select>
	
	<select id="getPwdHash" parameterType="String" resultType="String">
		select userPwd from users
		where userId=#{inputuserId}
	</select>
	
	<select id="getData" parameterType="String" resultType="usersDto">
	select userId,userName,userPhone,email,userAddr1,userAddr2,userAddr3,
		birthday,regidate
	from users where userId=#{userId}
	</select>
	
	<update id="updatePwd" parameterType="UsersDto">
		update users
		set userPwd=#{userPwd}
		where userId=#{userId}
	</update>
</mapper>